<?xml version="1.0"?>
<config>
	<modules>
		<Mobbex_Mobbex>
			<version>1.4.2</version>
		</Mobbex_Mobbex>
	</modules>
	<global>
		<models>
			<mobbex>
				<class>Mobbex_Mobbex_Model</class>
				<resourceModel>mobbex_mobbex_resource</resourceModel>
			</mobbex>
			<mobbex_mobbex_resource>
				<class>Mobbex_Mobbex_Model_Resource</class>
				<entities>
					<customfield>
						<table>mobbex_customfield</table>
					</customfield>
				
					<transaction>
						<table>mobbex_transaction</table>
					</transaction>
				</entities>
			</mobbex_mobbex_resource>
		</models>
		<resources>
            <mobbex_mobbex_setup>
                <setup>
                    <module>Mobbex_Mobbex</module>
                </setup>
            </mobbex_mobbex_setup>
        </resources>
		<helpers>
			<mobbex>
				<class>Mobbex_Mobbex_Helper</class>
			</mobbex>
		</helpers>
		<blocks>
			<mobbex>
				<class>Mobbex_Mobbex_Block</class>
			</mobbex>
		</blocks>
	</global>
	<default>
		<payment>
			<mobbex>
				<model>mobbex/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Pagar utilizando Mobbex</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
				<background_color>#ECF2F6</background_color>
                <primary_color>#6f00ff</primary_color>
				<button_logo>https://res.mobbex.com/images/sources/mobbex.png</button_logo>
				<button_text>Ver Financiación</button_text>
				<widget_style>
/* Modifica los valores para cambiar el estilo deseado. */
#mbbxProductBtn {
width: fit-content;
min-height: 40px;
border-radius: 6px;
padding: 8px 18px; /*El primer valor setea 'up/down' el segundo 'left/right'*/
font-size: 16px;
color: #6f00ff; 
background-color: #ffffff;
border: 1.5px solid #6f00ff; /* Grosor de linea, estilo de linea, color. */
/*box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);*/
}

/* Estilos al situar el cursor sobre el botón */
#mbbxProductBtn:hover {
color: #ffffff;
background-color: #6f00ff;
}

/* Los colores pueden ser hexadecimales o rgb */
/* Para que los estilos funcionen deben respetar la sintaxis de CSS.*/
				</widget_style>
			</mobbex>
		</payment>
	</default>
	<frontend>
		<translate>
			<modules>
				<Mobbex_Mobbex>
					<files>
						<default>mobbex.csv</default>
					</files>
				</Mobbex_Mobbex>
			</modules>
		</translate>
		<routers>
			<mobbex>
				<use>standard</use>
				<args>
					<module>Mobbex_Mobbex</module>
					<frontName>mobbex</frontName>
				</args>
			</mobbex>
		</routers>
		<layout>
            <updates>
            	<module>
					<file>mobbex.xml</file>
	            </module>
        	</updates>
        </layout>
		<events>
            <controller_action_postdispatch_checkout_onepage_savebilling>
                <observers>
                    <mobbex_save_dni>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>saveMobbexDni</method>
                    </mobbex_save_dni>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savebilling>
        </events>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Mobbex_Mobbex>
					<files>
						<default>mobbex.csv</default>
					</files>
				</Mobbex_Mobbex>
			</modules>
		</translate>
    	<layout>
    		<updates>
    			<module>
    				<file>mobbex.xml</file>
    			</module>
    		</updates>
    	</layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <mobbex_save_product_data>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>saveProductTabData</method>
                    </mobbex_save_product_data>
                </observers>
            </catalog_product_save_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <mobbex_category_new_tab>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>newTabCategory</method>
                    </mobbex_category_new_tab>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <mobbex_category_save_tab>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>saveCategoryTabData</method>
                    </mobbex_category_save_tab>
                </observers>
            </catalog_category_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <mobbex_product_refund>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>informRefundData</method>
                    </mobbex_product_refund>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </adminhtml>
</config>
