<?xml version="1.0"?>
<config>
	<modules>
		<Mobbex_Mobbex>
			<version>1.2.2</version>
		</Mobbex_Mobbex>
	</modules>
	<global>
		<models>
			<mobbex>
				<class>Mobbex_Mobbex_Model</class>
				<resourceModel>mobbex_mobbex_resource</resourceModel>
			</mobbex>
			<mobbex_mobbex_resource>
				<class>Mobbex_Mobbex_Model_Resource</class>
				<entities>
					<customfield>
						<table>mobbex_customfield</table>
					</customfield>
				</entities>
				<entities>
					<transaction>
						<table>mobbex_transaction</table>
					</transaction>
				</entities>
			</mobbex_mobbex_resource>
		</models>
		<resources>
            <mobbex_mobbex_setup>
                <setup>
                    <module>Mobbex_Mobbex</module>
                </setup>
            </mobbex_mobbex_setup>
        </resources>
		<helpers>
			<mobbex>
				<class>Mobbex_Mobbex_Helper</class>
			</mobbex>
		</helpers>
		<blocks>
			<mobbex>
				<class>Mobbex_Mobbex_Block</class>
			</mobbex>
		</blocks>
	</global>
	<default>
		<payment>
			<mobbex>
				<model>mobbex/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Pagar utilizando Mobbex</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</mobbex>
		</payment>
	</default>
	<frontend>
		<routers>
			<mobbex>
				<use>standard</use>
				<args>
					<module>Mobbex_Mobbex</module>
					<frontName>mobbex</frontName>
				</args>
			</mobbex>
		</routers>
		<layout>
            <updates>
            	<local module="Mobbex_Mobbex">
	                <file>local.xml</file>    
					<file>mobbex.xml</file>     
					<file>financingamount.xml</file>                               
	            </local>
        	</updates>
        </layout>
	</frontend>
	<adminhtml>
    	<layout>
    		<updates>
    			<module>
    				<file>mobbex.xml</file>
					<file>financingamountadmin.xml</file>               
    			</module>
    		</updates>
    	</layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <mobbex_save_product_data>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>saveProductTabData</method>
                    </mobbex_save_product_data>
                </observers>
            </catalog_product_save_after>
			<sales_order_creditmemo_save_after>
                <observers>
                    <mobbex_product_refund>
                        <type>singleton</type>
                        <class>mobbex/observer</class>
                        <method>informRefundData</method>
                    </mobbex_product_refund>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </adminhtml>
</config>