<?xml version="1.0"?>
<config>
	<modules>
		<Mobbex_Mobbex>
			<version>1.0.0</version>
		</Mobbex_Mobbex>
	</modules>
	<global>
		<models>
			<mobbex>
				<class>Mobbex_Mobbex_Model</class>
			</mobbex>
		</models>
		<helpers>
			<mobbex>
				<class>Mobbex_Mobbex_Helper</class>
			</mobbex>
		</helpers>
		<blocks>
			<mobbex>
				<class>Mobbex_Mobbex_Block</class>
			</mobbex>
		</blocks>
	</global>
	<default>
		<payment>
			<mobbex>
				<model>mobbex/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Pagar utilizando Mobbex</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</mobbex>
		</payment>
	</default>
	<frontend>
		<routers>
			<mobbex>
				<use>standard</use>
				<args>
					<module>Mobbex_Mobbex</module>
					<frontName>mobbex</frontName>
				</args>
			</mobbex>
		</routers>
	</frontend>
</config>
