<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<mobbex translate="Mobbex Payment" module="mobbex">
					<label>Mobbex</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>

						<api_key translate="label">
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</api_key>

						<access_token translate="label">
							<label>Access Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</access_token>

						<test_mode translate="label">
							<label>Test Mode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>

						<embed translate="label">
							<label>Embed Mode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</embed>

						<multicard translate="label">
							<label>Multicard</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</multicard>

						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>

						<allowspecific translate="label">
							<label>Payment Applicable From</label>
							<frontend_type>select</frontend_type>
							<sort_order>61</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>

						<specificcountry translate="label">
							<label>Countries Payment Applicable From</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>70</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
							<allowspecific>1</allowspecific>
							</depends>
						</specificcountry>

						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
						<financing_product translate="label">
							<label>Enable Financing Information on Product</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</financing_product>
						<financing_cart translate="label">
							<label>Enable Financing Information on Cart</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</financing_cart>
						<taxid translate="label">
							<label>Tax ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</taxid>

						<theme translate="label">
						<label>Mobbex Theme</label>
						<frontend_type>select</frontend_type>
						<source_model>mobbex/Config_Source_Theme</source_model>
						<comment>Mobbex appearance theme.</comment>
						<sort_order>130</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
						</theme>

						<primary_color translate="label">
						<label>Mobbex primary color</label>
						<frontend_type>text</frontend_type>
						<comment>Mobbex primary color.</comment>
						<sort_order>131</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
						</primary_color>

						<background_color translate="label">
						<label>Mobbex background color</label>
						<frontend_type>text</frontend_type>
						<comment>Mobbex background color.</comment>
						<sort_order>132</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
						</background_color>

						<button_logo translate="label">
						<label>Finance Button Logo</label>
						<comment>Finance widget button logo, leave it empty to remove it.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>133</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
						</button_logo>

						<button_text translate="label">
						<label>Finance Button Text</label>
						<comment>The text in the finance widget button.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>134</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_store>0</show_in_store>
						<show_in_website>1</show_in_website>
						</button_text>

						<widget_style translate="label">
						<label>Finance Widget Style</label>
						<comment>Set the styles of the finance widget respecting the CSS syntaxis.</comment>
						<frontend_type>textarea</frontend_type>
						<sort_order>135</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
						</widget_style>
						
					</fields>
				</mobbex>
			</groups>
		</payment>
	</sections>
</config>
